body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.profile-pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}


.favorite-buttons {
    background-color: yellow;
    color: black;
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.favorite-buttons:hover {
    background-color: orange; 
}
/* i like when button change color on hover so i put this in as well */
